body {
  font-family: "Montserrat";
}

#title {
  background-color: #1f3c88;
  color: #fff;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
}

p {
  color: #494949;
}

/* Navigation Bar*/
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 100;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5%;
}

/* Title image */
.title-image {
  width: 100%;
  transform: rotate(15deg);
}

/* Features Section*/
#features {
  padding: 7% 10%;
}

.feature-box {
  text-align: center;
}

.icon {
  color: #070d59;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #8b93f6;
}

/* Testimonials */
#testimonials {
  text-align: center;
  background-color: #5893d4;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 10%;
}

/* press */
#press {
  background: #5893d4;
  text-align: center;
  padding-bottom: 3%;
}

.source-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
